body{
	font-family: Arial, Helvetica, sans-serif; 
	height:100%;
	position:relative;
}
/*#pageHeader {*/
	/*width:100%;*/
	/*height:101px;*/
	/*background:#fff;*/
/*}*/
/*#wrapper {*/
	/*position: relative;*/
/*}*/
/*#pageBody {*/
	/*width:100%;*/
	/*background-color: #fff;*/
	/*padding-top: 10px;*/
	/*padding-bottom:120px;*/
/*}*/
/*#pageFooter {*/
	/*width:100%;*/
	/*height: 80px;*/
    /*position: absolute;*/
	/*bottom:0px;*/
	/*background:#fff;*/
/*}*/
#treeTable {
	width:100%; 
	/* border:1px solid gray; */
	border-collapse:collapse;
}
#treeTable th {
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	padding: 7px;
	/* color: #369; */
	/* background-color: #DDD; */
	/* border: 1px solid gray; */
}
#td-1 {
	vertical-align: top;
	width: 230px;
}
#td-2 {
	vertical-align: top;
	/* background:#f1f1f1; */
	padding-left: 5px;
	padding-right: 5px;
	min-height:70%;
}
#navigation {
	width:230px;
}
/* #treeHeader {
	background-color: #ddd;
	padding: 3px;
	font-size:14px;
	border: 1px solid #ddd;
	border-radius: 3px;
} */
.navbar {
	min-height: 32px;
	margin-bottom: 0px;
}
.dropdown-menu>li {
	padding: 2px 20px;
	text-decoration: none;
	cursor: pointer;
}
.dropdown-menu>li:hover{
	background-color: #f1f1f1;
}
#tree {
	overflow:auto;
}
#msaCell {
	width:100%;
}
#treeActions {
	display:inline;
}
#btnGet {
	display:inline;
}
ul.dynatree-container {
	border: 1px dotted #ddd;
	/* background-color: #f1f1f1; */
}
ul.dynatree-container li {
	border: 0px;
}
span.dynatree-node a{
	font-size:11px;
	/* font-weight:bold; */
}
span.dynatree-selected a {
	/* background-color:#def; */
	color: #f50;
	font-style: normal;
	font-size:11px;
}
button {
	font-size: 12px;
}
/* .align-right {
	float:right;
} */
form {
	margin: 0px;
}
hr {
	margin-top: 5px;
	margin-bottom: 5px;
	
}