<div id="msaDiv{+msa.dv.tid+}" class="msa-div">
    <div class="msa-summary">
        &#9679; Number of sequence: {+msa.dv.numOfSeq+}&nbsp;&nbsp;&#9679; Alignment length: {+msa.dv.alnLen+}&nbsp;&nbsp;&#9679;
        Scale: "─" <span ng-bind-html="msa.dv.equalSymbol | unsafe"></span> {+msa.dv.scale+} amino acid&nbsp;&nbsp;
    </div>
    <div class="msa-align-result">
        {# left div for id+name#}
        <div class="msa-div-1">
            <table id="msaTableEntry{+msa.dv.tid+}" class="msa-table-entry">
                {% include 'msa/msa-entrylist.html' %}
            </table>
        </div>
        <div class="msa-div-2">
            <table id="msaTable{+msa.dv.tid+}" class="msa-table">
                {#right table - thead#}
                <thead>
                <tr>
                    <td class="msa-table-th" ng-repeat="head in msa.dv.header track by $index">
                        {+head+}
                    </td>
                </tr>
                </thead>
                {# right table - tbody#}
                <tbody>
                <tr data-ng-repeat="r in msa.dvseq" ng-class={+r.group+}>
                    <td data-ng-repeat="res in r.seq" ng-class={+res.cls+} ng-attr-title="{+res.title+}"
                        ng-bind-html="res.content | unsafe">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>