{% extends "msa/base.html" %}
{% load staticfiles %}

{% block msa-title %}View {{ query }}{% endblock %}

{% block msa-scripts %}
    <script type="text/javascript" src="{% static 'msa/msa_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'msa/msa_functions_pro.js' %}"></script>
    <script type="text/javascript" src="{% static 'msa/app.js' %}"></script>
    <script>
        var dataUrl = "{% url 'msa:data' mod query %}";
        var prologo =  '<img id="iconPRO" class="icon-link" src="{% static 'msa/images/PROlogofinal300.png' %}" alt="PRO" title="PRO Entry Report">';
        var prourl = '/entry/PR:';
        var cytologo = '<img id="iconCyto" class="icon-link" src="{% static 'msa/images/cyto-logo.gif' %}" alt="Cyto" title="Cytoscape View">';
        var cytourl = '/cytoscape/view/';
        var daglogo =  '<img id="iconDag" class="icon-link" src="{% static 'msa/images/hierarchy.png' %}" alt="DAG" title="DAG View">';
        var dagurl = 'https://proconsortium.org//cgi-bin/browser_pro?ids='
    </script>
{% endblock %}

{% block msa-body %}


<table id="sequence-alignment" class="table table-condensed table-bordered table-pro-th table-pro-toggle">
<!--    <thead>-->
<!--    <tr>-->
<!--        <th colspan="2"><div class="table-pro-toggle-icon"><span class="glyphicon glyphicon-collapse-down"></span></div> Interactive Sequence View-->
<!--            <span class="pull-right">-->
<!--                   <a href="/app/visual/msa/tree/PR%3A000025934/" class="pretty" target="_blank">-->
<!--               Select/align proteoforms across species</a>-->
<!--            </span>-->
<!--        </th>-->
<!--    </tr>-->
<!--    </thead>-->
    <tbody>


    <tr>
        <td colspan="2" id="msaCell" height="400" align="center">
                <h3 id="loadingMsg">Loading...</h3>
            <div id="msa" ng-app="msaApp" style="display: none;" onshow="init_tooltip('pro')">

    <nav id="msaHeader" class="navbar navbar-default" role="navigation">



        <div id="msaMenu">
{#            <form id="msaProSwitch" ng-controller="msaProSwitchController">#}
{#                <ul class="nav navbar-nav navbar-left">#}
{#                   <li ng-click="toggle = !toggle" class="dropdown">#}
{#                       <a class="dropdown-toggle msa-menu-header" href="">#}
{#                           <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {+toggleText+} PRO entries</a>#}
{#                   </li>#}
{#                </ul>#}
{#            </form>#}
            <ul id="msaMenuUl" class="nav navbar-nav navbar-left"></ul>
        </div>
        <div id="msaViewSwitch" class="right" msa-view="OV"></div>
    </nav>
    <div ng-controller="msaController as msaCtrl">
        {% include 'msa/msa-detailview.html' %}
        {% include 'msa/msa-overview.html' %}
    </div>
</div>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
