{% extends "msa/base.html" %}
{% load staticfiles %}

{% block msa-title %}View {{ query }}{% endblock %}

{% block msa-scripts %}
    <script type="text/javascript" src="{% static 'msa/msa_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'msa/msa_functions_pro.js' %}"></script>
    <script type="text/javascript" src="{% static 'msa/app.js' %}"></script>
    <script>
        var dataUrl = "{% url 'msa:data' mod query %}";
        var prologo =  '<img id="iconPRO" class="icon-link" src="{% static 'pro/pirwww/images/PROlogofinal300.png' %}" alt="PRO" title="PRO Entry Report">';
        var prourl = '{% url 'entrypage:entry' 'id' %}'
        var cytologo = '<img id="iconCyto" class="icon-link" src="{% static 'msa/images/cyto-logo.gif' %}" alt="Cyto" title="Cytoscape View">';
        var cytourl = 'http://research.bioinformatics.udel.edu/pro/view/entry_cw_pro_test.php?id='
        var daglogo =  '<img id="iconDag" class="icon-link" src="{% static 'pro/pirwww/images/hierarchy.png' %}" alt="DAG" title="DAG View">';
        var dagurl = 'http://pir.georgetown.edu/cgi-bin/pro/browser_pro_test.pl?ids='
    </script>
{% endblock %}

{% block msa-body %}
<h3 id="loadingMsg">Loading...</h3>
<div id="msa" ng-app="msaApp" style="display: none;">
    <nav id="msaHeader" class="navbar navbar-default" role="navigation">
        <div id="msaMenu">
{#            <form id="msaProSwitch" ng-controller="msaProSwitchController">#}
{#                <ul class="nav navbar-nav navbar-left">#}
{#                   <li ng-click="toggle = !toggle" class="dropdown">#}
{#                       <a class="dropdown-toggle msa-menu-header" href="">#}
{#                           <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {+toggleText+} PRO entries</a>#}
{#                   </li>#}
{#                </ul>#}
{#            </form>#}
            <ul id="msaMenuUl" class="nav navbar-nav navbar-left"></ul>
        </div>
        <div id="msaViewSwitch" class="right" msa-view="OV"></div>
    </nav>
    <div ng-controller="msaController as msaCtrl">
        {% include 'msa/msa-detailview.html' %}
        {% include 'msa/msa-overview.html' %}
    </div>
</div>
{% endblock %}
