<div id="filter_category_dropdown" class="dropdown">
    <small>Display Category: </small>
    <button type="button" class="btn btn-default btn-xs"
            id="filter_category_dropdown_button"
            data-toggle="dropdown" role="button">
        <span id="selected"> All </span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-selection">All</a></li>
        {% for i in category_types %}
            <li><a id="filter_category_dropdown_{{ i }}" class="dropdown-selection">{{ i }}</a></li>
        {% endfor %}
    </ul>
</div>

<style>
    #filter_category_dropdown a {
        text-decoration: none;
        cursor: pointer;
    }
</style>


