{% load static %}
    <table id="ontology-information" class="table table-condensed table-bordered table-pro-th table-pro-first-td">
        <thead>
        <tr>
            <th colspan="2">Ontology Information</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td >PRO ID</td>
            <td >{{ id }}
            <span class="pull-right"><a href="{{ obo_url }}" target="_blank">Show OBO stanza</a>
{#                {% if pafs.has_data%}#}
{#                    / <a href="{% url 'export:paf' id %}" target="_blank">PAF</a>#}
{#                {% endif %}#}
            </span></td>
        </tr>
        <tr>
            <td>PRO name</td>
            <td>{{ name }}</td>
        </tr>
{#        {% for alt_id in alt_ids %}#}
{#            <tr>#}
{#                <td>Alternate ID</td>#}
{#                <td>{{alt_id}}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
        {% if synonyms|length > 0 %}
            <tr>
                <td>Synonyms</td>
                <td>
                    <table class="table table-condensed borderless table-pro-synonyms">
                            <tr>
                                <td nowrap align="right" width="180px"><span class="pull-right"><b><u>PRO-short-label:</u></b></span></td>
                                <td>{{ synonyms }} </td>
                            </tr>

                    </table>
                </td>
            </tr>
        {%  endif %}
        <tr>
            <td>Definition</td>
            <td> <span class="add-link">{{ definition|safe }} </span>
{#                {% if def.evidence != '' %}#}
{#                    [{{ def.evidence|links }}]#}
{#                {% endif %}#}
            </td>
        </tr>
        {%  if comment != '' %}
            <tr>
                <td>Comment</td>
                <td>{{ comment|safe }} </td>
            </tr>
        {% endif %}
        <tr>
            <td>PRO Category</td>
            <td> {{ category }} </td>
        </tr>

        {% if has_parent %}
        <tr>
            <td>Parent</td>
{#            <td> {{ parent.id|link }} {{ parent.name }} </td>#}
            <td>
                <table id="parent_table" class="parent_table">
                    <thead><tr><th>PRO ID</th><th>PRO Name</th></tr></thead>
                    <tbody>
                        {% for i in dir_parents %}
                            <tr><td><a href="{{ i.2 }}">{{ i.0 }}</a></td><td>{{ i.1 }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>

            </td>
        </tr>
        {% endif %}

        {% if termscategory %}
            {% include "term_by_pro_category.html" %}

        {% endif %}



{#        {% block term-by-pro-cat %}#}
{#        {% endblock %}#}
        <tr>
            <td>Term Hierarchy Visualization</td>
            <td>
                <a href="https://proconsortium.org//cgi-bin/browser_pro?ids={{ id }}"
                   class="pretty" target="_blank">
                    <img src="{% static '/images/hierarchy.png' %}" width="20">DAG</a>
                &nbsp;&nbsp;&nbsp;
                <a href="http://www.ebi.ac.uk/ols/ontologies/pr/terms?iri=http://purl.obolibrary.org/obo/{{ id }}"
                   class="pretty" target="_blank">
                    <img src="{% static '/images/ols.jpg' %}" width="25"> OLS </a>
                &nbsp;&nbsp;&nbsp;
                <a href="/pro2/cytoscape/view/{{ id }}" class="pretty" target="_blank"><img src="{% static '/images/cy3logoOrange.svg' %}" width="20">
                    Cytoscape</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
