body {
    background-color: #fff;
    margin: 0px;
}
form{margin-bottom:0;}
#msa {
    width:100%;
    background-color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:12px;
}
#msaDivDV {
    /*display: none;*/
}
.navbar {
    margin-bottom: 0px;
    height:30px;
    min-height: 30px;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 20px;
    height: 20px;
}
.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
}
.msa-menu-header {
    font-size: 14px;
}
.dropdown-menu {
    font-size: 12px;
}
.select-all {
    /* text-align:right; */
    /* padding-right: 15px; */
    padding-left: 15px;
    padding-top: 5px;
}
.msa-menu-div{
    z-index:5;
    padding:10px 5px 10px 5px;
    margin:1px;
    max-height: 250px;
    min-width: 200px;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.msa-menu-table tr:hover{
    background-color: #efefef;
    cursor: default;
}
.msa-menu-table td{
    text-align:left;
    vertical-align: top;
    padding: 0 5px 0 5px;
    font-size:12px;
}
#msaMenuTableModType td {
    white-space:nowrap;
}
#msaMenuTableEnzyme {
    width: 400px;
}
.msa-summary {
    height:35px;
    line-height:35px;
    vertical-align: middle;
    float:left;
    padding: 0 10px 0 10px;
}
.msa-align-result {
    width:100%;
    overflow-x:auto;
    /* -webkit-touch-callout: none; */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#msaEntryLinks{
    display:inline;
    position:absolute;
    background-image: url('../images/icon-link-div.gif');
    background-size:85px 35px;
    background-repeat:no-repeat;
    vertical-align: middle;
    padding:5px 7px 5px 3px;
    z-index:5;
    border:0px
}
#errorMsg{
    max-width:100%;
    max-height:50px;
    overflow: auto;
    font-size:10px;
    text-align:left;
    padding:10px;
}
.msa-div-1, .msa-div-2{
    display:inline-block;
    overflow:auto;
    vertical-align:top;
}
.msa-div-1 {
    width: 18%;
    padding-right:5px;
    background-color: #f1f1f1;
}
.msa-table-label {
    width:100%;
}
.msa-div-2 {
    width: 80%;
    padding-left:5px;
}
.msa-table-entry, .msa-table{
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: 0px;
    float:left;
}
.msa-table-entry td, .msa-table td{
    white-space: nowrap;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    border: 1px solid transparent;
}
.msa-table-entry td{
    background-color: #f1f1f1;
}
td.msa-table-id{
    padding-right: 10px;
    cursor: pointer;
}
td.msa-table-label{
    cursor: pointer;
}

.msa-aa, td.msa-aa {background-color:#fff; }
.msa-gap, td.msa-gap {background-color:#fff; }
.msa-sub, td.msa-sub{background-color:#ddd; border: 1px solid #ddd;}
.msa-con, td.msa-con{background-color:#b3b3b3; border: 1px solid #b3b3b3;}
.msa-con-sub, td.msa-con-sub{background-color:#ddd; border: 1px solid #dbdbdb;}
.msa-mod-un, td.msa-mod-un {background:#fff; border:1px solid #b3b3b3;}
.msa-mod-p, td.msa-mod-p{background-color:#ff3e96; color:#fff; border: 1px solid #ff3e96;}
.msa-mod-ac, td.msa-mod-ac{background-color:#CC00FF; color:#fff; border: 1px solid #CC00FF;}
.msa-mod-g, td.msa-mod-g{background-color:#74d600; color:#fff; border: 1px solid #74d600;}
.msa-mod-m, td.msa-mod-m {background-color:#3e95ff; color:#fff; border: 1px solid #3e95ff;}
.msa-mod-ub, td.msa-mod-ub{background-color:#ffcb05; color:#fff; border: 1px solid #ffcb05;}
.msa-mod-o, td.msa-mod-o {background-color:#960077; color:#fff; border: 1px solid #960077;}
/* .msa-mod-multi, td.msa-mod-multi{border: 1px solid black;} */

.disabled-text{color:#aaa;}

.sortable-place-holder td{background-color:#ffefa2;}
td.aa-hover {background-color:#FFAA00; z-index:5;}

.msa-pmid-hide {
    display:none;
}
.msa-pmid-show {
    border: 1px solid #CCC;
    background-color: #DDD;
    line-height: 3px;
    padding: 0 0 5px 1px;
    display: inline-block;
    width: 16px;
    cursor: pointer;
    font-weight: bold;
    color: #888;
}

td.aa-selected{
    background-color: #FFAA00;
}
td.th-selected {
    background-color:#359BE5;
    color:#000;
}
td.td-selected {
    background-color:#359BE5;
    color:#000;
}
td.td-row-selected {
    border-top:1px solid #359BE5;
    border-bottom:1px solid #359BE5;
}
td.td-col-selected {
    border-left:1px solid #359BE5;
    border-right:1px solid #359BE5;
}
tr.msa-divider{
    height:10px;
}

.msa-menu-table td{
    height: 19px;
}

.icon-view{
    font-size: 20px;
    cursor:pointer;
    padding:5px 20px 5px 20px;
    border:none;
}
.icon-link{
    width:25px;
    height:25px;
    cursor:pointer;
    padding:5px 2px 2px 2px;
    border:none;
}
.dt-angle {
    border-top: 5px solid #000;
    border-left: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    border-right: 5px solid #ddd;
    vertical-align: middle;
    margin: 0 5px 0 5px;
    line-height:0;
    font-size:0;
}
.right {
    float:right;
}
.hide {
    display: none;
}

.ui-widget-content a {
    color:blue;
}

.tooltipster-shadow {
    border-radius: 5px;
    background: rgba(255,255,255,0.95);
    box-shadow: 0px 0px 14px rgba(0,0,0,0.5);
    color: #2c2c2c;
}
.tooltipster-shadow .tooltipster-content {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 10px;
}
body .ui-tooltip {
    border-width:1px;
    max-width: 400px;
}
.ui-tooltip {
    background: -webkit-linear-gradient(#fff, #f1f1f1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #f1f1f1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #f1f1f1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #f1f1f1); /* Standard syntax */
    font-size: 10px;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 0 0 1px #ccc;
}